// custom styles
.reveal .slides section pre.fragment.visible {
    background-color: #002b36;
}

.reveal .slides section .org-src-container *.visible {
    background-color: #002b36;
    padding: 1rem;
}